body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  height: 100%;
}

#map {
  float: left;
  width: 50%;
  height: 100%;
}

#app {
  float: left;
  width: 50%;
  height: 100%;
}

#app textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
}

.CodeMirror {
  height: 100% !important;
}

.error-marker {
  width: 10px !important;
  background-color: #ff0000;
}