body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

#map {
  float: left;
  width: 50%;
  height: 100%;
}

#app {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

#app textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
}

/* general styles */

.hide {
  display: none;
}

.show {
  display: block;
}

/* editor */

.CodeMirror {
  height: 100% !important;
}

.error-marker {
  width: 10px !important;
  background-color: #ff0000;
}

.error-marker .error-message {
  display: none;
  position: absolute;
  background-color: #ddd;
  border: 1px solid #999;
  padding: 6px;
  width: 140px;
  left: 15px;
  top: -1em;
}

.error-marker:hover .error-message {
  display: block;
}

.autocomplete {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.autocomplete-results {
  position: absolute;
  border: 1px solid #ddd;
  padding: 5px;
  top: 35px;
  width: 100%;
  z-index: 1000;
  background-color: white;
  opacity: 0.8;
  line-height: 1.5em;
}

.autocomplete-result {
  width: 100%;
  cursor: pointer;
}